.about-container {
  padding: 0rem 15%; }
  @media only screen and (max-width: 68.75em) {
    .about-container {
      padding: 0rem 5%; } }
  @media only screen and (max-width: 61.5625em) {
    .about-container {
      padding: 0 0%; } }

.about {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
  height: 75rem;
  padding: 6rem 0; }
  @media only screen and (max-width: 1360px) {
    .about {
      height: 80rem; } }
  @media only screen and (max-width: 1260px) {
    .about {
      height: 85rem; } }
  .about__img {
    background: url("../../img/about-img-min.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10rem;
    width: 40%;
    height: 70%;
    box-sizing: border-box;
    border: 2rem solid #fbf2ec; }
    @media only screen and (max-width: 675px) {
      .about__img {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 1100px) {
      .about__img {
        background: url("../../img/about-img- 2-min.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; } }
    @media only screen and (max-width: 675px) {
      .about__img {
        width: 100%;
        justify-content: center;
        align-content: center; } }
    .about__img__inner {
      display: none; }
      @media only screen and (max-width: 675px) {
        .about__img__inner {
          height: 40rem;
          width: 100%;
          display: block;
          visibility: hidden; } }
  .about__text {
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 675px) {
      .about__text {
        width: 100%;
        padding: 2rem 3rem; } }
    @media only screen and (max-width: 350px) {
      .about__text {
        width: 100%;
        padding: 2rem 0; } }
    .about__text__head {
      margin-bottom: 2rem;
      margin-top: -2rem;
      font-family: "Quicksand", sans-serif; }
      .about__text__head__main {
        font-size: 4rem;
        margin-bottom: 1rem;
        font-size: 3.5rem; }
        @media only screen and (max-width: 675px) {
          .about__text__head__main {
            margin: 1rem 0; } }
      .about__text__head__secondary {
        font-size: 2.25rem;
        font-weight: 500; }
        @media only screen and (max-width: 675px) {
          .about__text__head__secondary {
            margin: 1rem 0; } }
    .about__text__main__paragraph {
      direction: rtl;
      word-spacing: 0.5rem;
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
      column-count: 2;
      column-gap: 3rem;
      text-align: right;
      text-overflow: ellipsis;
      white-space: wrap;
      font-family: "Markazi Text", serif; }
      @media only screen and (max-width: 675px) {
        .about__text__main__paragraph {
          width: 100%;
          margin-top: 2rem; } }
  @media only screen and (max-width: 675px) {
    .about {
      flex-direction: column;
      width: 100%;
      padding: 2rem 3rem;
      height: auto; } }

.contact-us-container {
  width: 100%;
  height: auto;
  padding: 3rem 0%;
  padding-bottom: 0;
  margin-bottom: 0; }

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .contact-us__img {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-family: "Bebas Neue", cursive;
    text-align: center;
    position: relative;
    z-index: 2; }
    .contact-us__img::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../../img/contact-lg.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      z-index: -1;
      filter: blur(2px); }
      @media only screen and (max-width: 1024px) {
        .contact-us__img::after {
          background: url("/img/contact-md.jpg");
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; } }
      @media only screen and (max-width: 768px) {
        .contact-us__img::after {
          background: url("/img/contact-md-2.jpg");
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; } }
      @media only screen and (max-width: 650px) {
        .contact-us__img::after {
          background: url("/img/contact-md-3.jpg");
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; } }
      @media only screen and (max-width: 425px) {
        .contact-us__img::after {
          background: url("/img/contact-xsm.jpg");
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; } }
  .contact-us__header {
    font-size: 6.5rem;
    margin-top: -3rem;
    letter-spacing: 0.25rem; }
  .contact-us__paragraph {
    font-size: 2.5rem;
    font-family: "Quicksand", sans-serif; }
  .contact-us__social-media {
    width: 100%;
    padding: 5rem 20%;
    background-color: white;
    background-color: pink; }
    @media only screen and (max-width: 1000px) {
      .contact-us__social-media {
        padding: 3rem 10%; } }
    @media only screen and (max-width: 720px) {
      .contact-us__social-media {
        padding: 3rem 8%; } }
    @media only screen and (max-width: 550px) {
      .contact-us__social-media {
        padding: 3rem 6%; } }
    @media only screen and (max-width: 450px) {
      .contact-us__social-media {
        padding: 3rem 4%; } }
    @media only screen and (max-width: 340px) {
      .contact-us__social-media {
        padding: 3rem 2%; } }
    .contact-us__social-media__p1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      font-family: "Quicksand", sans-serif;
      text-align: center; }
    .contact-us__social-media__p2 {
      font-size: 2rem; }
      .contact-us__social-media__p2__icon {
        display: inline-block;
        font-size: 3rem;
        margin-left: 1rem;
        font-family: "Quicksand", sans-serif;
        color: black;
        text-align: center;
        color: pink;
        animation: slideUpDown-2 1s ease infinite; }
    .contact-us__social-media__text-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      .contact-us__social-media__text-info::after {
        content: "";
        width: 50%;
        height: 2px;
        background-color: #808584;
        position: absolute;
        left: 50%;
        bottom: -2rem;
        transform: translateX(-50%); }
    .contact-us__social-media__header {
      font-size: 4rem;
      margin-top: 0rem;
      color: black;
      font-family: "Bebas Neue", cursive;
      font-family: "Quicksand", sans-serif;
      letter-spacing: 0.25rem;
      z-index: 5;
      transition: all 0.3s;
      position: relative; }
      @media only screen and (max-width: 300px) {
        .contact-us__social-media__header {
          font-size: 3.5rem; } }
      .contact-us__social-media__header::first-letter {
        margin-right: 0.5rem;
        color: white; }
      .contact-us__social-media__header::after {
        content: "";
        position: absolute;
        bottom: 0.5rem;
        left: -0.75rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: pink;
        transform: scale(1);
        transition: all 0.3s ease;
        z-index: -1;
        transition: all 0.3s; }
    .contact-us__social-media__text-info {
      height: 100%; }
    .contact-us__social-media__item:link, .contact-us__social-media__item:visited {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: black;
      font-size: 2.5rem;
      width: 45%;
      margin: 1rem 2%;
      font-family: "Quicksand", sans-serif;
      text-decoration: none; }
      .contact-us__social-media__item:link__text, .contact-us__social-media__item:visited__text {
        background-color: pink; }
      @media only screen and (max-width: 375px) {
        .contact-us__social-media__item:link, .contact-us__social-media__item:visited {
          font-size: 2rem; } }
    .contact-us__social-media__icon {
      margin-top: 0.5rem;
      position: relative;
      color: black;
      z-index: 5;
      font-size: 3rem; }
    .contact-us__social-media__items {
      position: relative;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      padding: 5% 10%;
      margin-top: 2.5rem; }
      @media only screen and (max-width: 550px) {
        .contact-us__social-media__items {
          padding: 3rem 6%; } }
      @media only screen and (max-width: 450px) {
        .contact-us__social-media__items {
          padding: 3rem 4%; } }
      @media only screen and (max-width: 350px) {
        .contact-us__social-media__items {
          padding: 3rem 0; } }
    .contact-us__social-media__container:hover .contact-us__social-media__header::first-letter {
      color: white; }
    .contact-us__social-media__container:hover .contact-us__social-media__header::after {
      background: black; }
    .contact-us__social-media__container {
      display: flex;
      position: relative;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: auto;
      padding: 3rem 15%;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.special-text {
  position: relative;
  z-index: 1; }
  .special-text::after {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 20%;
    background-color: pink;
    content: "";
    z-index: -1; }

.main {
  max-height: 550px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px; }

.footer-container {
  box-sizing: border-box;
  width: 100%; }

footer {
  display: block;
  z-index: -1;
  font-family: "Quicksand", sans-serif !important;
  font-size: 16px; }

.location-icon {
  margin-top: -2rem !important; }

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 30px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: pink; }

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin: 1rem 1rem; }

.footer-distributed .footer-links a span {
  color: pink;
  background-color: pink;
  display: none; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-center {
  width: 35%; }

.footer-items {
  margin-bottom: 3rem; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-left h3 {
  font-family: "Playball", cursive; }

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none; }

.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-items a {
  color: white;
  text-decoration: none; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; }
  .main {
    line-height: normal;
    font-size: auto; } }

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0; }

html {
  font-size: 62.5%;
  /* it better to use a percentage so users can change font size manually */
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 576px) {
    html {
      font-size: 7px; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  position: relative; }
  @media only screen and (max-width: 500px) {
    body {
      padding: 0rem; } }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes slideLeft {
  from {
    transform: translateX(-270rem);
    opacity: 0; }
  to {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes slideUp {
  from {
    transform: translateY(20rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes circle {
  from {
    transform: scale(0);
    color: black; }
  to {
    transform: scale(1);
    color: pink; } }

@keyframes slideDown {
  from {
    transform: translateY(-200rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes slideLeft-2 {
  from {
    transform: translateX(100rem);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideRight {
  from {
    transform: translateX(270rem);
    opacity: 0; }
  to {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideUpDown {
  0% {
    transform: translateY(0rem); }
  50% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes slideUpDown-2 {
  0% {
    transform: translateY(0rem); }
  50% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(0rem); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mid {
  margin-bottom: 4rem !important; }

@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important; }
  .u-margin-bottom-mid {
    margin-bottom: 3rem !important; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0rem 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem* 2)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem* 3)) / 4); }
  .row .col-2-of-3 {
    width: calc( ((100% - (6rem* 2)) / 3) * 2 + 6rem);
    margin-right: 0; }
  .row .col-3-of-4 {
    width: calc( ((100% - (6rem* 3)) / 4) * 3 + (6rem* 2)); }
  .row .col-2-of-4 {
    width: calc( ((100% - (6rem* 3)) / 4) * 2 + 6rem); }

.top-section-container {
  padding: 0rem 15%; }
  @media only screen and (max-width: 68.75em) {
    .top-section-container {
      padding: 0rem 5%; } }
  @media only screen and (max-width: 61.5625em) {
    .top-section-container {
      padding: 0 0%; } }

.animate-header {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

.top-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  color: #3b403f; }
  .top-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .top-section__logo {
    border: 1px solid #fbf2ec;
    padding: 1rem;
    border-radius: 50%;
    margin-top: -1.5rem; }
  .top-section__header {
    font-family: "Playball", cursive;
    font-size: 6rem;
    font-weight: 500;
    width: 50rem;
    margin-left: 12rem;
    margin-top: -3rem; }
  .top-section__sub-header {
    font-size: 3rem;
    margin-top: -1rem;
    font-family: "Quicksand", sans-serif; }
  .top-section__message {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60rem;
    padding: 5rem 0;
    width: 100%;
    font-family: "Amiri", serif;
    position: relative; }
    .top-section__message__img {
      width: 50%;
      height: 100%;
      background: url("../../img/high-pic-min-1.png");
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      z-index: -1;
      border-radius: 3px; }
    .top-section__message__text {
      width: 50%;
      height: 100%;
      font-size: 4rem;
      margin-top: 6rem;
      word-spacing: 0.5rem;
      margin-right: -12rem;
      color: #3b403f;
      text-align: center;
      position: relative;
      line-height: 3.5rem; }
      @media only screen and (max-width: 600px) {
        .top-section__message__text {
          font-size: 3rem; } }
      @media only screen and (max-width: 505px) {
        .top-section__message__text {
          margin-right: -8rem; } }
      @media only screen and (max-width: 450px) {
        .top-section__message__text {
          font-size: 2.5rem;
          margin-right: -6rem; } }
      @media only screen and (max-width: 420px) {
        .top-section__message__text {
          width: 55%;
          margin-right: -5rem; } }
      @media only screen and (max-width: 370px) {
        .top-section__message__text {
          margin-right: -4.5rem; } }
      .top-section__message__text__inner {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .top-section__message__text__inner__item {
          display: block;
          margin-top: 1.5rem;
          background-color: #fbf2ec;
          padding: 1rem 0; }
          .top-section__message__text__inner__item__text {
            width: 100%;
            height: 100%;
            display: inline-block; }
            .top-section__message__text__inner__item__text__3, .top-section__message__text__inner__item__text__1 {
              animation: slideLeft 1s ease; }
            .top-section__message__text__inner__item__text__4, .top-section__message__text__inner__item__text__2 {
              animation: slideRight 1s ease; }
        .top-section__message__text__inner__bottom-text {
          font-size: 2rem;
          margin-top: 2rem;
          margin-right: 2rem;
          animation: slideLeft-2 1.5s ease-in; }

.hide {
  visibility: hidden; }

/* The typing effect */
@keyframes typing {
  0% {
    transform: translateX(-30rem);
    width: 0%; }
  90% { }
  100% {
    width: 100%;
    transform: translateX(50.5rem); } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #c2bdba; } }

.navigation {
  z-index: 100000; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 15;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer; }
    @media (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media (max-width: 37.5em) {
      .navigation__button {
        top: 2.5rem;
        right: 2.5rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background: pink;
    z-index: 10;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        top: 3rem;
        right: 3rem; } }
  .navigation__nav {
    height: 100vh;
    width: 120vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem;
    transition: all 0.3s; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 4rem;
    color: white;
    color: black;
    font-weight: 300;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all 0.5s; }
    .navigation__link:link span, .navigation__link:visited span {
      display: inline-block;
      margin-right: 1.5rem; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #861657;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(90); }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2.2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.background-section {
  width: 100%;
  height: 45rem;
  background: url("/img/footer-middle-img-md-2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Amiri", serif;
  background-repeat: no-repeat;
  margin-top: 2rem; }
  @media only screen and (max-width: 768px) {
    .background-section {
      background: url("/img/footer-middle-img-md-2-min.jpg"); } }
  @media only screen and (max-width: 415px) {
    .background-section {
      background: url("/img/footer-middle-img-xsm-min.jpg"); } }
  .background-section__card {
    overflow: hidden;
    width: 40%;
    height: 30rem;
    font-size: 2rem;
    background-color: white;
    align-self: center;
    padding: 1rem 3rem;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 1110px) {
      .background-section__card {
        width: 50%; } }
    @media only screen and (max-width: 700px) {
      .background-section__card {
        width: 55%; } }
    @media only screen and (max-width: 600px) {
      .background-section__card {
        width: 55%; } }
    @media only screen and (max-width: 500px) {
      .background-section__card {
        width: 60%; } }
    @media only screen and (max-width: 450px) {
      .background-section__card {
        width: 65%; } }
    .background-section__card__header {
      font-size: 4.5rem;
      font-weight: bold;
      animation: slideDown 1s ease; }
      @media only screen and (max-width: 520px) {
        .background-section__card__header {
          font-size: 4rem; } }
      @media only screen and (max-width: 420px) {
        .background-section__card__header {
          font-size: 3.5rem; } }
      @media only screen and (max-width: 300px) {
        .background-section__card__header {
          font-size: 3rem; } }
    .background-section__card__paragraph {
      font-size: 2.5rem;
      font-weight: 400;
      margin-top: -1rem;
      direction: rtl;
      font-family: "Markazi Text", serif; }
      @media only screen and (max-width: 520px) {
        .background-section__card__paragraph {
          font-size: 2.25rem; } }
      @media only screen and (max-width: 420px) {
        .background-section__card__paragraph {
          font-size: 2rem; } }
      @media only screen and (max-width: 300px) {
        .background-section__card__paragraph {
          font-size: 1.75rem; } }
    .background-section__card__btn:link, .background-section__card__btn:visited {
      font-weight: 400;
      background-color: pink;
      padding: 1rem 3rem;
      width: auto;
      text-decoration: none;
      outline: none;
      color: black;
      font-size: 1.5rem;
      border: none;
      outline: none;
      border-radius: 3px;
      align-self: center;
      text-transform: uppercase;
      font-family: "Quicksand", sans-serif;
      background: #f58c7c;
      position: relative;
      transition: all 0.3s; }
      .background-section__card__btn:link:hover, .background-section__card__btn:visited:hover {
        color: white; }

.middle-section-container {
  padding: 2rem 5%;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 68.75em) {
    .middle-section-container {
      padding: 0 5%; } }
  @media only screen and (max-width: 61.5625em) {
    .middle-section-container {
      padding: 0 0%; } }
  @media only screen and (max-width: 594px) {
    .middle-section-container {
      padding: 0 2%;
      overflow: hidden;
      flex-direction: column; } }

.middle-section {
  width: 100%;
  height: 140rem;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 15px;
  overflow-y: unset;
  border-top: 2px solid #fbf2ec;
  border-radius: 0; }
  @media only screen and (max-width: 594px) {
    .middle-section {
      margin-top: 3.5rem;
      padding-top: 4rem;
      overflow: scroll; } }
  @media only screen and (max-width: 350px) {
    .middle-section {
      padding: 3rem 2.5rem; } }
  @media only screen and (max-width: 300px) {
    .middle-section {
      padding: 3rem 1.5rem; } }
  .middle-section__item {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    height: 45%;
    background-color: #fbf2ec;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    animation-delay: 0.2s;
    animation: slideUp 1s ease;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 1075px) {
      .middle-section__item {
        width: 35.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .middle-section__item {
        width: 37.5rem; } }
    @media only screen and (max-width: 780px) {
      .middle-section__item {
        width: 35rem; } }
    @media only screen and (max-width: 738px) {
      .middle-section__item {
        width: 32rem; } }
    @media only screen and (max-width: 690px) {
      .middle-section__item {
        width: 30rem; } }
    @media only screen and (max-width: 658px) {
      .middle-section__item {
        width: 28rem; } }
    @media only screen and (max-width: 630px) {
      .middle-section__item {
        width: 26rem; } }
    @media only screen and (max-width: 594px) {
      .middle-section__item {
        width: 35rem; } }
    .middle-section__item:hover {
      background: white;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .middle-section__item:hover .middle-section__item__btn {
      background-color: #fbf2ec; }
    .middle-section__item:hover .middle-section__item__img {
      filter: blur(1px); }
    .middle-section__item__img {
      height: 50%;
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      animation: scaleUp 1s ease; }
      .middle-section__item__img__1 {
        height: 30rem;
        background: url("/img/op-min-1.jpg");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat; }
      .middle-section__item__img__2 {
        height: 30rem;
        background: url("/img/mp-min-1.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat; }
      .middle-section__item__img__3 {
        background: url("/img/main-img-min-1.jpg");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat; }
      .middle-section__item__img__4 {
        background: url("/img/img-4-min-1.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat; }
    .middle-section__item-info {
      margin-top: 3rem;
      align-self: center;
      font-family: "Amiri", serif;
      color: #3b403f;
      padding: 0 1.5rem; }
    .middle-section__item__header {
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      font-style: normal;
      line-height: 1.2;
      font-size: 2.5rem;
      height: 5rem;
      text-align: center;
      animation: slideLeft 1s ease forwards; }
      .middle-section__item__header::first-letter {
        text-transform: uppercase; }
    .middle-section__item__paragraph {
      font-size: 1.75rem;
      margin-top: 3rem;
      margin-right: 0.5rem;
      text-align: right;
      padding: 0 1rem;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: wrap;
      animation: slideRight 1s ease forwards;
      font-family: "Markazi Text", serif;
      word-spacing: 0.25rem; }
      @media only screen and (max-width: 690px) {
        .middle-section__item__paragraph {
          height: 22rem; } }
    .middle-section__item__btn:link, .middle-section__item__btn:visited {
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      outline: none;
      background-color: white;
      color: black;
      font-weight: 700;
      font-family: "Markazi Text", serif;
      padding: 1.5rem 4rem;
      border-radius: 3px;
      font-size: 1.75rem;
      transition: 0.3s all;
      text-decoration: none;
      transition: all 0.3s;
      border-radius: 5px;
      z-index: 5;
      word-spacing: 0.25rem; }
      @media only screen and (max-width: 690px) {
        .middle-section__item__btn:link, .middle-section__item__btn:visited {
          padding: 0.75rem 1.5rem;
          bottom: -1rem; } }
      .middle-section__item__btn:link::after, .middle-section__item__btn:visited::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        background-color: pink;
        transform: scale(0);
        transition: all 0.3s; }
      .middle-section__item__btn:link:hover, .middle-section__item__btn:visited:hover {
        color: black;
        bottom: -1rem; }
        .middle-section__item__btn:link:hover::after, .middle-section__item__btn:visited:hover::after {
          transform: scale(1);
          z-index: -1; }

.review-bar-container {
  padding: 5rem 0; }

.arab {
  word-spacing: 0.5rem;
  animation: slideUp 1s ease; }

.review-bar {
  width: 100%;
  height: 40rem;
  background: url("/img/baby.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: -10rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .review-bar__text {
    display: flex;
    filter: blur(0px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    animation: slideDown 1s ease; }
    .review-bar__text__paragraph {
      font-family: "Amiri", serif;
      font-size: 8rem;
      color: black;
      font-weight: 500;
      font-size: 3rem; }
    .review-bar__text__reviwer-info {
      color: #3b403f;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-family: "Quicksand", sans-serif;
      margin: 1.5rem 0; }

.process-steps-container {
  padding: 0rem 15%; }
  @media only screen and (max-width: 68.75em) {
    .process-steps-container {
      padding: 0rem 5%; } }
  @media only screen and (max-width: 61.5625em) {
    .process-steps-container {
      padding: 0 0%; } }

.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Markazi Text", serif; }
  .process__header {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: block;
    border-bottom: 1px solid #9c9090;
    padding-bottom: 1.5rem;
    margin-bottom: 4.5rem;
    color: black; }
  .process__steps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; }
    .process__steps__item {
      background-color: rgba(240, 243, 243, 0.4);
      color: black;
      width: 45%;
      margin: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 32%;
      height: 50rem; }
      .process__steps__item__step-number {
        font-size: 2rem;
        display: block;
        margin: 1.5rem 0;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #9c9090;
        color: #f58c7c;
        padding-bottom: 1.5rem; }
      .process__steps__item__header {
        font-size: 3rem;
        display: block;
        margin: 1rem 0;
        margin-top: 2rem;
        font-weight: bold; }
      .process__steps__item__paragraph {
        font-family: "Markazi Text", serif;
        padding: 2rem 0.5rem;
        width: 80%;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        direction: rtl; }

.reviews-container {
  padding: 5rem 5%; }
  @media only screen and (max-width: 61.5625em) {
    .reviews-container {
      padding: 0 0%; } }
  @media only screen and (max-width: 600px) {
    .reviews-container {
      padding: 4rem 0%; } }

.the-reviews {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: center;
  position: relative;
  transition: all 0.3s; }
  @media only screen and (max-width: 1200px) {
    .the-reviews {
      overflow: scroll;
      height: 95rem; } }

.reviews {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 520px) {
    .reviews {
      height: 45rem;
      padding-top: 10rem; } }
  .reviews__card {
    display: inline-block;
    position: relative;
    border: 1px solid #3b403f;
    border-radius: 3px;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 60rem;
    background-color: white;
    margin: 0rem 25%;
    margin-bottom: 9rem;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 1200px) {
      .reviews__card {
        height: 30rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 700px) {
      .reviews__card {
        width: 55rem;
        height: auto; } }
    @media only screen and (max-width: 650px) {
      .reviews__card {
        width: 50rem; } }
    @media only screen and (max-width: 600px) {
      .reviews__card {
        width: 45rem; } }
    @media only screen and (max-width: 520px) {
      .reviews__card {
        width: 45rem;
        margin-left: 15rem; } }
    @media only screen and (max-width: 480px) {
      .reviews__card {
        margin-left: 11rem; } }
    @media only screen and (max-width: 450px) {
      .reviews__card {
        margin-left: 10rem; } }
    @media only screen and (max-width: 420px) {
      .reviews__card {
        margin-left: 8rem; } }
    @media only screen and (max-width: 405px) {
      .reviews__card {
        margin-left: 7.5rem; } }
    @media only screen and (max-width: 400px) {
      .reviews__card {
        margin-left: 5rem; } }
    @media only screen and (max-width: 377px) {
      .reviews__card {
        margin-left: 4rem; } }
    @media only screen and (max-width: 360px) {
      .reviews__card {
        margin-left: 2rem; } }
    @media only screen and (max-width: 350px) {
      .reviews__card {
        margin-left: 1rem; } }
    @media only screen and (max-width: 340px) {
      .reviews__card {
        width: 40rem;
        margin-left: 4rem; } }
    @media only screen and (max-width: 320px) {
      .reviews__card {
        width: 35rem;
        margin-left: 4rem; } }
    @media only screen and (max-width: 320px) {
      .reviews__card {
        width: 30rem;
        margin-left: 6rem; } }
    .reviews__card:hover .reviews__card__header {
      border-color: black; }
      .reviews__card:hover .reviews__card__header::after {
        background: pink;
        animation: circle 0.3s ease; }
      .reviews__card:hover .reviews__card__header::first-letter {
        color: black; }
      .reviews__card:hover .reviews__card__header__number {
        color: white; }
        .reviews__card:hover .reviews__card__header__number::after {
          animation: circle 0.3s ease;
          background-color: black; }
    .reviews__card__header {
      font-size: 3.5rem;
      color: black;
      margin: 1.5rem 0;
      font-family: "Quicksand", sans-serif;
      text-align: center;
      font-weight: 200;
      display: inline-block;
      padding: 1rem 1rem;
      background-position-y: 90rem;
      position: relative;
      letter-spacing: 0.2rem;
      border-bottom: 2px solid pink;
      z-index: 5; }
      .reviews__card__header__number {
        z-index: 2;
        color: black;
        transition: all 0.3s;
        margin-left: 1rem; }
        .reviews__card__header__number::after {
          content: "";
          position: absolute;
          bottom: 1.75rem;
          right: 0rem;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          background: pink;
          transform: scale(1);
          transition: all 0.3s ease;
          z-index: -1; }
      .reviews__card__header::first-letter {
        margin-right: 0.35rem;
        color: white; }
      .reviews__card__header::after {
        content: "";
        position: absolute;
        bottom: 1.75rem;
        left: 0;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: black;
        transform: scale(1);
        transition: all 0.3s ease;
        z-index: -1; }
    .reviews__card__text {
      margin: 1.5rem 0;
      font-size: 2rem;
      font-family: "Markazi Text", serif;
      height: 14rem;
      direction: rtl;
      text-align: right; }
    .reviews__card:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .reviews__btn {
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
    color: white;
    font-family: "Playball", cursive;
    background-color: pink;
    font-size: 2rem;
    border: none;
    outline: none;
    position: absolute;
    transition: all 0.3s ease;
    z-index: 5;
    bottom: 20rem;
    color: black; }
    .reviews__btn__next {
      left: 75%; }
      @media only screen and (max-width: 1500px) {
        .reviews__btn__next {
          left: 77.5%; } }
      @media only screen and (max-width: 1400px) {
        .reviews__btn__next {
          left: 80%; } }
      @media only screen and (max-width: 1300px) {
        .reviews__btn__next {
          left: 82.5%; } }
      @media only screen and (max-width: 1250px) {
        .reviews__btn__next {
          left: 85%; } }
      @media only screen and (max-width: 1200px) {
        .reviews__btn__next {
          left: 82.5%;
          display: none; } }
    .reviews__btn__prev {
      left: 15%; }
      @media only screen and (max-width: 1200px) {
        .reviews__btn__prev {
          display: none; } }
    .reviews__btn:hover {
      background-color: black;
      color: white; }

.reviews__btn:hover .reviews__card {
  display: none; }

.scroll-for-more {
  width: 15rem;
  height: 10rem;
  position: absolute;
  top: 65%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  display: none; }
  .scroll-for-more__icon {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: -0.5rem;
    z-index: 2;
    color: white;
    animation: slideUpDown 1s ease infinite; }
    @media only screen and (max-width: 420px) {
      .scroll-for-more__icon {
        font-size: 2rem;
        z-index: 20; } }
    .scroll-for-more__icon::after {
      content: "";
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: -0.85rem;
      top: -1rem;
      border-radius: 50%;
      background-color: pink;
      z-index: -1; }
  @media only screen and (max-width: 1200px) {
    .scroll-for-more {
      display: inline-block; } }
  @media only screen and (max-width: 520px) {
    .scroll-for-more {
      left: 50%;
      transform: translate(-50%);
      top: 3rem; } }
