.middle-section-container {
  padding: 2rem 5%;
  padding-bottom: 2rem;
  @media only screen and(max-width:$bp-large) {
    padding: 0 5%;
  }
  @media only screen and(max-width:$bp-medium-1) {
    padding: 0 0%;
  }
  @media only screen and(max-width: 594px) {
    padding: 0 2%;
    overflow: hidden;
    flex-direction: column;
  }
}

.middle-section {
  width: 100%;
  height: 140rem;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 15px;
  overflow-y: unset;
  border-top: 2px solid rgba(251, 242, 236, 1);
  border-radius: 0;
  @media only screen and(max-width: 594px) {
    margin-top: 3.5rem;
    padding-top: 4rem;
    overflow: scroll;
  }
  @media only screen and(max-width: 350px) {
    padding: 3rem 2.5rem;
  }
  @media only screen and(max-width: 300px) {
    padding: 3rem 1.5rem;
  }
  &__item {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    height: 45%;
    background-color: rgba(251, 242, 236, 1);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    animation-delay: 0.2s;
    animation: slideUp 1s ease;
    transition: all 0.3s ease;
    @media only screen and(max-width: 1075px ) {
      width: 35.5rem;
    }
    @media only screen and(max-width: $bp-medium) {
      width: 37.5rem;
    }

    @media only screen and(max-width: 780px) {
      width: 35rem;
    }
    @media only screen and(max-width: 738px) {
      width: 32rem;
    }
    @media only screen and(max-width: 690px) {
      width: 30rem;
    }
    @media only screen and(max-width: 658px) {
      width: 28rem;
    }
    @media only screen and(max-width: 630px) {
      width: 26rem;
    }
    @media only screen and(max-width: 594px) {
      width: 35rem;
    }

    &:hover {
      background: white;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    }
    &:hover &__btn {
      background-color: rgba(251, 242, 236, 1);
    }
    &:hover &__img {
      filter: blur(1px);
    }
    &__img {
      height: 50%;
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      animation: scaleUp 1s ease;

      &__1 {
        height: 30rem;
        background: url("/img/op-min-1.jpg");
        @include centerBackgroundImg;
      }
      &__2 {
        height: 30rem;

        background: url("/img/mp-min-1.png");
        @include centerBackgroundImg;
      }
      &__3 {
        background: url("/img/main-img-min-1.jpg");
        @include centerBackgroundImg;
      }
      &__4 {
        background: url("/img/img-4-min-1.png");
        @include centerBackgroundImg;
      }
    }
    &-info {
      margin-top: 3rem;
      align-self: center;
      font-family: "Amiri", serif;
      color: rgba(59, 64, 63, 1);
      padding: 0 1.5rem;
    }
    &__header {
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      font-style: normal;
      &::first-letter {
        text-transform: uppercase;
      }
      line-height: 1.2;
      font-size: 2.5rem;
      height: 5rem;
      text-align: center;
      animation: slideLeft 1s ease forwards;
    }
    &__paragraph {
      font-size: 1.75rem;
      margin-top: 3rem;
      margin-right: 0.5rem;
      text-align: right;
      padding: 0 1rem;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: wrap;
      animation: slideRight 1s ease forwards;
      font-family: "Markazi Text", serif;
      word-spacing: 0.25rem;

      @media only screen and(max-width: 690px) {
        height: 22rem;
      }
    }

    &__btn:link,
    &__btn:visited {
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      outline: none;
      background-color: white;
      color: black;
      font-weight: 700;
      font-family: "Markazi Text", serif;
      padding: 1.5rem 4rem;
      border-radius: 3px;
      font-size: 1.75rem;
      transition: 0.3s all;
      text-decoration: none;
      transition: all 0.3s;
      border-radius: 5px;
      z-index: 5;
      word-spacing: 0.25rem;

      @media only screen and(max-width: 690px) {
        padding: 0.75rem 1.5rem;
        bottom: -1rem;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        background-color: pink;
        transform: scale(0);
        transition: all 0.3s;
      }
      &:hover {
        color: black;
        &::after {
          transform: scale(1);
          z-index: -1;
        }

        bottom: -1rem;
      }
    }
  }
}
