.review-bar-container {
  padding: 5rem 0;
}
.arab {
  word-spacing: 0.5rem;
  animation: slideUp 1s ease;
}
.review-bar {
  width: 100%;
  height: 40rem;
  background: url("/img/baby.jpg");
  background-attachment: fixed;
  @include centerBackgroundImg;
  background-position-y: -10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    display: flex;
    filter: blur(0px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    animation: slideDown 1s ease;
    &__paragraph {
      font-family: "Amiri", serif;
      font-size: 8rem;
      color: black;
      font-weight: 500;
      font-size: 3rem;
    }
    &__reviwer-info {
      color: rgba(59, 64, 63, 1);
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-family: "Quicksand", sans-serif;
      margin: 1.5rem 0;
    }
  }
}
